:root {
    --primary--100: #E5DDFC;
    --primary--200: #CCBCF9;
    --primary--300: #B29AF7;
    --primary--400: #9979F4;
    --primary--500: #7F57F1;
    --primary--600: #6846C7;
    --primary--700: #50359D;
    --primary--800: #392472;
    --primary--900: #211348;
    --neutral--100: #FFFFFF;
    --neutral--200: #F9F9F9;
    --neutral--300: #F3F3F3;
    --neutral--400: #8B8B8B;
    --neutral--500: #000000;
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url(fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url(fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(fonts/Montserrat/static/Montserrat-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.slider_page img {
    width: max-content;
    height: max-content;

}

li {
    list-style: none;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 1220px;
}

/* -------- TopBar -------- */

.topbar_div {
    width: 100%;
    height: 32px;
    background-color: var(--primary--100);
}


/* -------- Header -------- */

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    /* background-color: gray; */
}

.header_div {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--neutral--100);
}

.search_form {
    display: flex;
    justify-content: flex-end;
    align-items: inherit;
}

#search_input {
    border-radius: 20px;
    width: 600px;
    height: 40px;
    padding: 0;
    border-width: 1px;
    border-color: var(--neutral--200);
    border-style: solid;
    box-sizing: border-box;
    background-image: url(assets/microfone.svg);
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-x: 16px;
    background-position-y: center;
}

.search_button {
    width: 110px;
    height: 40px;
    position: absolute;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: none;
    background-color: var(--primary--500);
    font-family: 'Montserrat Regular';
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--primary--100);
}

.account_ul {
    display: inline-flex;
    height: 48px;
    box-sizing: 48px;
}

.account_li {
    margin-left: 16px;
    margin-right: 16px;
    display: grid;
    justify-items: center;
}

.account_li a {
    font-size: 14px;
    font-family: 'Montserrat Semibold', Arial;
    color: var(--primary--500);
}

/* -------- MENU -------- */

.menu_div {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary--500);
}
.menu_div ul {
    height: 34px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

.menu_div a {
    font-size: 16px;
    font-family: 'Montserrat Bold', Arial;
    color: var(--neutral--100);
}

.ofertas_li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    background-color: black;
}

.ofertas_li img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* -------- Banner Principal -------- */

.BannerPrincipal_div {
    width: 100%;
    height: 426px;
    margin: 0;
}

.BannerPrincipal_div a {
    display: flex;
    justify-content: center;
    
}

.BannerPrincipal_div a img {
    width: 100%;
}

/* -------- Diferenciais -------- */

.diferenciais_div {
    width: 100%;
    height: 86px;
    background-color: var(--neutral--300);
    display: flex;
    justify-content: center;
}

.diferenciais_div ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.diferenciais_div ul li {
    width: 204px;
    display: flex;
    justify-content: space-between;
}

.DiferenciaisImg_div {
    width: 54px;
    height: 54px;
    background-color: var(--primary--500);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.DiferenciaisSpan_div {
    width: 144px;
}

.DiferenciaisFreteGratis_span {
    font-family: 'Montserrat Bold';
    font-size: 16px;
    color: var(--primary--500);
}

.DiferenciaisDescricao_span {
    font-family: 'Montserrat Regular';
    font-size: 14px;
}


/* -------- Body -------- */

.body_div {
    height: 3024px;
    margin-top: 64px;
    display: grid;
    background-color: var(--neutral--100);

}

/* -------- Price Range -------- */

.PriceRange_div {
    height: 180px;
    width: 100%;
    display: grid;
    align-content: space-around;
}

.PriceRange_div span {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat Bold';
    font-size: 24px;
    color: var(--primary--500);
}

.PriceRange_div ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.PriceRange_div li {
    width: 290px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 222, 252, 50%);
    border-radius: 8px;
}

/* -------- Vitrine -------- */

.vitrine_div {
    height: 588px;
    background-color: var(--neutral--100);
    margin-top: 64px;
}

#vitrine_span {
    font-family: 'Montserrat Bold';
    font-size: 24px;
    color: var(--primary--500);
    display: flex;
    justify-content: center;
}

.shelf_div {
    display: flex;
    justify-content: space-around;
    margin-top: 38px;
}

/* -------- Product Card -------- */

.ProductCard_div {
    width: 270px;
    height: 500px;
    background-color: var(--neutral--100);
    padding: 12px;
    box-sizing: border-box;
    display: grid;
    border-radius: 8px;
    filter: drop-shadow(#F3F3F3 0rem 0rem 10px);
}

.ProductImg_div img {
    width: 245px;
    height: 245px;
}

.ProductSelo_div {
    width: 88px;
    height: 28px;
    background-color: var(--primary--100);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat Regular';
    font-size: 14px;
    color: var(--primary--500);
}

.ProductAvaliacoes_div {
    width: 202px;
    height: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ProductAvaliacoes_div ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.ProductAvaliacoes_div ul li img {
    width: 24px;
    height: 24px;
}

.ProductAvaliacoes_div span {
    width: 72px;
    height: 15px;
    font-family: 'Montserrat Regular';
    font-size: 12px;
    color: var(--neutral--400);
}

.ProductNome_div {
    width: 245px;
    height: 34px;
    font-family: 'Montserrat Regular';
    font-size: 14px;
    color: var(--neutral--500);
}

.ProductPreco_div {
    height: 24px;
}

.ProductPrecoAntigo_span {
    font-family: 'Montserrat Regular';
    font-size: 14px;
    color: var(--neutral--400);
    text-decoration: line-through;
}

.ProductPrecoNovo_span {
    font-family: 'Montserrat Bold';
    font-size: 20px;
    color: var(--primary--500);
}

.ProdutoDesconto_div {
    height: 18px;
    font-family: 'Montserrat Regular';
    font-size: 14px;
    color: var(--neutral--500);
}

.ProductButtonComprar_div {
    height: 48px;
    width: 245px;
    background-color: var(--primary--500);
    border-radius: 8px;
    font-family: 'Montserrat Regular';
    font-size: 16px;
    color: var(--neutral--100);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.MosaicBanner_div {
    width: 100%;
    height: 646px;
}

.MosaicBanner_div ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
}

